<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box{
            margin: 10px;
            background-color: pink;
        }

    </style>
</head>
<body>

<div id="app">
    <ul class="box">
        <li v-for="name in names">{{name}}</li>
    </ul>

    <ul class="box">
        <li v-for="(name, index) in names">{{name}} -- {{index}}</li>
    </ul>

    <ul class="box">
        <li v-for="(name, index) in names">{{info(name, index)}}</li>
    </ul>

    <ul class="box">
        <li v-for="(name, index) in names">
            {{info(name, index)}}
        </li>
    </ul>



</div>

<script src="../js/vue.js"></script>
<script>


    /**

     1. 当我们有一组数据需要进行渲染时, 我们就可以使用v-for来完成
        v-for 的语法类似于javaScript中的for
        格式: item in items

     2. 我们来看一个简单恶案例
        如果在遍历的过程中,不需要使用索引值
        v-for="item in items"
        依次从 items中取出 item, 并且在元素的内容中我们可以使用
        mustache语法
     3. 如果在遍历过程中, 我们需要拿到元素在数组中的索引 值
        语法格式: v-for="(item, index) in items"
        其中的index就代表了取出的item在原数组中 的索引 值



     */

    const  app  = new Vue({
        el:'#app',
        data:{
            names:['张三', '李四', '网二', '麻子'],
            selectedIndex  : 2
        },
        methods:{
            info(name, index){
                return name  + '--' + index
            }
        }
    })
</script>

</body>
</html>