<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">

    <h2>你选择的性别是: {{sex}}</h2>

    <label for="male">男</label>
    <input type="radio"
           value="男"
           name="sex"
           id="male"
           v-model="sex">

    <label for="female">女</label>
    <input type="radio"
           value="女"
           name="sex"
           id="female"
           v-model="sex">
</div>
<script  src="../js/vue.js"></script>
<script>



    const app =  new Vue({
        el:'#app',
        data:{
            sex:'男'

        },
        methods:{
            changeInput(event){
                console.log(event.target.value);
                this.inputTxt = event.target.value
            },
            btnClick(event){
                console.log(event);
            }
        }

    })
</script>
</body>
</html>
