<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <h2>你的多选结果是: {{lovers}}</h2>
    <form action="https://baidu.com">
        <label> <input type="checkbox" name="lvsm" value="篮球" v-model='lovers'> 篮球</label>
        <label> <input type="checkbox" name="lvsm" value="足球" v-model='lovers'> 足球</label>
        <label> <input type="checkbox" name="lvsm" value="乒乓球" v-model='lovers'> 乒乓球</label>
        <label> <input type="checkbox" name="lvsm" value="羽毛球" v-model='lovers'> 羽毛球</label>
        <input type="submit" value="提交">
    </form>

    <!--值绑定-->


    <h2>值绑定多选结果是: {{lover_s}}</h2>
    <form action="https://baidu.com">
        <label v-for="item in originLovers">
            <input type="checkbox" name="lvs" :value=item v-model='lover_s'> 篮球
        </label>
        <input type="submit" value="提交">
    </form>
</div>

<script src="../js/vue.js"></script>
<script>

    /**
    值绑定

     1. 我们在前面的value中的值, 可以回头去看一下, 都是在定义input的时候直接给定的
     2. 但是在实际开发中, 这些input的值可能是从网络获取的 或 定义 在data中的
     3. 所以, 我们可以通过 v-bind:value动态 给 value绑定值
     4. 这不就是 v-bind 吗?
     其实就是v-bind

     */
    const app = new Vue({
        el:'#app',
        data:{
            lovers:["篮球","足球","乒乓球","羽毛球"  ],
            originLovers:["篮球m","足球m","乒乓球m","羽毛球m"  ] ,
            lover_s:["篮球m"]
        }
    })
</script>
</body>
</html>